$link-color: #7e7f86;
$text-current: #25202f;
$text: black;
$button_color: #8643dc;
$white-color: #fff;
$text-color: #47444e;

$transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
